    # Dart / Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/

# IDEs
.vscode/
.idea/
*.iml

# Logs
*.log

# Sistema
.DS_Store